<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/public/css/main-styles.css">
</head>
<body>
    <a href="/logout">Click here to logout</a>
    <h1>Insert Navigation Toolbar Here</h1>
    <br>
    <div id="error" class="error" hidden>I'm an error</div>
    {{{body}}}
</body>
</html>
