<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/public/css/main-styles.css">
</head>
<body>
    <header>
        <nav>
            <div class = "navbar">
                <a class="active" href="/navigation/homepage">Home</a>
                <a href="/navigation/create">Create a Group</a>
                <a href="/navigation/search">Find an Existing Group</a>
                <a href="/navigation/groupdetails">See Group Details</a>
                <a href="/logout">Logout</a>
            </div>
        </nav>
    </header>
    {{{body}}}
    <footer>
        <p>© 2022 Sabah Ahmed | Prathyeka Reddy Anugu | Yash DinkarBharambay | Abhishek Kocharekar | SwarajsingAnandsing Patil</p>
    </footer>
</body>
</html>
