{{! This will be your default layout for all handlebars file rendered. This will be inherited by all other templates. }}
{{! Refer lecture code to learn more on how this works: https://github.com/stevens-cs546-cs554/CS-546/tree/master/lecture_08/code/HTML_Templating }}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/public/main-styles.css">
</head>
<body>
    <h1>Insert Navigation Toolbar Here</h1>
    {{{body}}}
</body>

<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
<script src="/public/js/basic_ajax_with_jquery.js"></script>

</html>
