 <div style="background-color: rgb(204, 239, 248)">
        <div class="container py-5">
        <div class="row h-100 align-items-center py-5">
            <div class="col-lg-6">
            <h1 class="display-2" style="color: rgb(54, 54, 54);">About Us</h1>
            <!-- <p class="lead text-muted mb-0">A project by <strong>Group 28</strong></p> -->
            <!-- <h2 class="display-4 font-weight-light">Motto</h2>
            <p class="font-italic text-muted">Help candidates showcase skills and for companies to hire candidated based on required skills</p> -->
            </div>
            <div class="col-lg-6 d-none d-lg-block"><img src="/public/images/AboutUs1.png" alt="" class="img-thumbnail" width="900" height="500"></div>
        </div>
        </div>
    </div>
    
    <div class="bg-white py-5">
        <div class="container py-5">
        <div class="row align-items-center mb-5">
            <div class="col-lg-6 order-2 order-lg-1"><i class="fa fa-bar-chart fa-2x mb-3 text-primary"></i>
            <h2 class="font-weight-light">Vision Toward SubSplit Subscription</h2>
            <p class="font-italic text-muted mb-4">Subscription is a word that we hear all the time. Almost all platforms have gone digital these days. 
                There are several subscription plans available for music applications, entertainment (television or films), 
                OTT platforms, digital content providers, network provider plans, and other services that we deal with on a regular basis. 
                With the world moving digital, users now have a plethora of alternatives and diverse access information at their disposal. 
                The various subscription plans range in terms of cost, plan validity, content access, and so on. Family plans and group subscriptions are frequently the most popular categories. 
                It enables the client to purchase a single plan that may be shared by numerous family members (the number of persons is limited to the plan given by different service providers). 
                The payment of the order is the only thing that all subscriptions have in common. Because these subscriptions are so beneficial, users may desire to purchase a shared membership with friends or extended family to get the most out of their plans. 
                This lowers the effective cost of the membership as compared to individual subscription pricing.
                However, several difficulties arise when purchasing a shared plan with friends/family or becoming a member of others' memberships; 
                a few of these are listed below.</p>
                <p class="font-italic text-muted mb-4">Subscription plans face the following challenges:</p> 
                <ul>
                    <li class="font-italic text-muted mb-4">Organize a group of individuals to purchase the sharing subscription.</li> 
                    <li class="font-italic text-muted mb-4">Payment is delayed since the subscription is invoiced on a single card.</li>
                    <li class="font-italic text-muted mb-4">Finding a replacement or paying the higher expense if anybody departs the group.</li>
                </ul>    
                <p class="font-italic text-muted mb-4">To address these daily issues, we propose developing a split subscription application that will bring together users who have subscribed to a platform for payment management or are looking for users to fill available slots while respecting the simultaneity of the users allowed access to the platform in their subscription plans. 
                    The users may also join a group with other co-subscribers who share their interests and enjoy their favourite services at a reduced rate by sharing the membership.</p> 
                    <br>
                    <p class="font-italic text-muted mb-4">Let's get started!!</p>
            <a href="/navigation/create" class="btn btn-light px-5 rounded-pill shadow-sm">Create a Group</a>
            <p class="font-italic text-muted mb-4">or</p>
            <a href="/navigation/search" class="btn btn-light px-5 rounded-pill shadow-sm">Find a Group</a>
            </div>
            <div class="col-lg-5 px-5 mx-auto order-1 order-lg-2"><img src="/public/images/AboutUs2.png" alt="" class="img-fluid mb-4 mb-lg-0"></div>
        </div>
        <div class="row align-items-center">
            <div class="col-lg-5 px-5 mx-auto"><img src="/public/images/AboutUs3.png" alt="" class="img-fluid mb-4 mb-lg-0"></div>
            <div class="col-lg-6"><i class="fa fa-leaf fa-2x mb-3 text-primary"></i>
            <h2 class="font-weight-light">Our Mission</h2>
            <p class="font-italic text-muted mb-4">Our project's mission is to develop software services that help users find other people looking 
                for folks to share subscriptions and provide them with the best deal out of any subscription 
                model tailored as per their needs. In this service, users can form a unique group for sharing 
                subscriptions payment within themselves.</p>
            </div>
        </div>
        </div>
    </div>
  
    <div class="bg-light py-5">
        <div class="container py-5">
            <div class="row mb-4">
                <div class="row text-center">
                    <!-- Team item-->
                    <div class="col-xl-3 col-sm-6 mb-5">
                        <div class="bg-white rounded shadow-sm py-5 px-4"><img src="https://res.cloudinary.com/mhmd/image/upload/v1556834132/avatar-4_ozhrib.png" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                            <h5 class="mb-0">Sabah Ahmed</h5><span class="small text-uppercase text-muted">CEO - Founder</span>
                            <a href="https://github.com/sabahahmed1" class="social-link"><i class="fa-brands fa-github"></i></a>
                        </div>
                    </div>
                    <!-- End-->
            
                    <!-- Team item-->
                    <div class="col-xl-3 col-sm-6 mb-5">
                        <div class="bg-white rounded shadow-sm py-5 px-4"><img src="https://res.cloudinary.com/mhmd/image/upload/v1556834132/avatar-4_ozhrib.png" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                            <h5 class="mb-0">Prathyeka Reddy Anugu</h5><span class="small text-uppercase text-muted">CEO - Founder</span>
                            <a href="https://github.com/prathyekareddy" target = "_blank" class="social-link"><i class="fa-brands fa-github"></i></a>
                        </div>
                    </div>
                    <!-- End-->
            
                    <!-- Team item-->
                    <div class="col-xl-3 col-sm-6 mb-5">
                        <div class="bg-white rounded shadow-sm py-5 px-4"><img src="https://res.cloudinary.com/mhmd/image/upload/v1556834133/avatar-2_f8dowd.png" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                            <h5 class="mb-0">Abhishek Kocharekar</h5><span class="small text-uppercase text-muted">CEO - Founder</span>
                            <a href="https://github.com/abhishekkocharekar" target = "_blank"  class="social-link"><i class="fa-brands fa-github"></i></a>
                        </div>
                    </div>
                    <!-- End-->
            
                    <!-- Team item-->
                    <div class="col-xl-3 col-sm-6 mb-5">
                        <div class="bg-white rounded shadow-sm py-5 px-4"><img src="https://res.cloudinary.com/mhmd/image/upload/v1556834133/avatar-1_s02nlg.png" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                            <h5 class="mb-0">Yash Dinkar Bharambay</h5><span class="small text-uppercase text-muted">CEO - Founder</span>
                            <a href="https://yashbharambay.vercel.app" target = "_blank" class="social-link"><i class="fa-brands fa-github"></i></a>
                        </div>
                    </div>
                    <!-- End-->
            
                    <!-- Team item-->
                    <div class="col-xl-3 col-sm-6 mb-5">
                        <div class="bg-white rounded shadow-sm py-5 px-4"><img src="https://res.cloudinary.com/mhmd/image/upload/v1556834130/avatar-3_hzlize.png" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                            <h5 class="mb-0">Swarajsing Anandsing Patil
                            </h5><span class="small text-uppercase text-muted">CEO - Founder</span>
                            <a href="https://github.com/SwarajsingPatil" target = "_blank" class="social-link"><i class="fa-brands fa-github"></i></a>
                        </div>
                    </div>
                    <!-- End-->
        
                </div>
            </div>
        </div>
    </div>