<main>
    <h1>This is an Error Page</h1>
</main>

router.route("/checkout-page").get(async (req, res) => {
  try {
    const session = await stripe.checkout.sessions.create({
      mode: "payment",
      payment_method_types: ["card"],
      line_items: [
        {
          price: "price_1MAdtxGXsyLIL2myAGYK5cE8",
          quantity: 1,
        },
        {
          price: "price_1MAfX1GXsyLIL2myFZU8pn6J",
          quantity: 1,
        },
      ],
      allow_promotion_codes: true,
      billing_address_collection: "auto",
      success_url: "http://localhost:3000/navigation/groupdetails",
      cancel_url: "https://www.youtube.com/",
    });
    console.log(session);
    res.json({ url: session.url });
  } catch (error) {
    console.log(error);
  }
});