<main>
  <div class="jumbotron">
    <div class="container text-center">
      <h5>Welcome to</h5>
      <h1>SubSplit</h1>  
      <br>    
      <p>SubSplit, short for subscription split, enables users to come together 
          and split subscriptions of different platforms among themselves, including but not limited to, music applications,
          entertainment (television or films), OTT platforms, digital content providers, network provider plans,
          and so much more!</p>
    </div>
  </div>
  <div class="container-fluid bg-3 text-center">    
    <h3><a href="/navigation/search">Join an Existing Group</a></h3>
    <br>
    <div class="row">
      <div class="col-sm-3">
        <h4>Netflix</h4>
        <img src="/public/homepage-logos/netflix.png" class="img-fluid" height="50" width="80" alt="Image">
      </div>
      <div class="col-sm-3"> 
        <h4>Spotify</h4>
        <img src="/public/homepage-logos/spotify.png" class="img-fluid" height="50" width="80" alt="Image">
      </div>
      <div class="col-sm-3"> 
        <h4>Amazon Prime</h4>
        <img src="/public/homepage-logos/prime.png" class="img-fluid" height="50" width="80" alt="Image">
      </div>
      <div class="col-sm-3">
        <h4>Disney+</h4>
        <img src="/public/homepage-logos/disney.png" class="img-fluid" height="50" width="80" alt="Image">
      </div>
    </div>
  </div>
  <br>
  <br>
  <div class="container-fluid bg-3 text-center">    
    <div class="row">
      <div class="col-sm-3">
        <h4>HBO Max</h4>
        <img src="/public/homepage-logos/hbo.png" class="img-fluid" height="50" width="80" alt="Image">
      </div>
      <div class="col-sm-3"> 
        <h4>Youtube Premium</h4>
        <img src="/public/homepage-logos/youtube.png" class="img-fluid" height="50" width="80" alt="Image">
      </div>
      <div class="col-sm-3">
        <h4>Hulu</h4>
        <img src="/public/homepage-logos/hulu.png" class="img-fluid" height="50" width="80" alt="Image">
      </div>
      <div class="col-sm-3"> 
        <h4>PlayStation Now</h4>
        <img src="/public/homepage-logos/playstation.png" class="img-fluid" height="50" width="80" alt="Image">
      </div>
    </div>
    <br>
    <div class="container-fluid bg-3 text-center">   
      <h3>or</h3>
      <br>
    <h3><a href="/navigation/create">Create a New Group</a></h3><br>
    </div>
  </div>
</main>