<p>{{error}}</p>
<form method="POST" action="/login" id="login-form">

    <label for="usernameInput">Enter email-Id</label><br>
    <input type="text" id="usernameInput" name="usernameInput"><br><br>
    <label for="usernameInput">Enter password</label><br>
    <input type="password" id="passwordInput" name="passwordInput"><br><br>
    <button type="submit">submit</button>

</form>
<a href="/register">Click here to register!</a>