<p>{{error}}</p>
<form method="POST" action="/login" id="login-form">

    <label for="emailIdInput">Enter email-Id</label><br>
    <input type="text" id="emailIdInput" name="emailIdInput"><br><br>
    <label for="passwordInput">Enter password</label><br>
    <input type="password" id="passwordInput" name="passwordInput"><br><br>
    <button type="submit">submit</button>

</form>
<a href="/register">Click here to register!</a>
<script src='../public/js/login.js'></script>