<main>

  <div class="container-fluid">

    <div class="row">
      <div class="col-sm-4">
        <div class="card search-form shadow">
          <form id="search-form">
            <div class="mb-3">
              <label for="groupNameSearch" class="form-label fw-bold">Find a Group</label>
              <input type="text" name="groupNameSearchValue" id="groupNameSearch" placeholder="Group Name"
                class="form-control" />
            </div>
            <div class="mb-3">
              <label for="categorySearch" class="form-label fw-bold">Find by Category</label>
              <select name="categorySearchValue" id="categorySearch" class="form-control">
                <option value="N/A">N/A</option>
                <option value="OTT">OTT</option>
                <option value="Music Streaming">Music Streaming</option>
                <option value="Network Service Provider">Network Service Provider</option>
                <option value="Education">Education</option>
                <option value="E-Commerce">E-Commerce</option>
                <option value="Other">Other</option>
              </select>
            </div>
            <button type="submit" class="btn w-100 search-button">Search</button>
          </form>
          <br/>
          <ul>
            <li>If the group is at maximum capacity then it will not appear in the search results</li>
            <li>Any Group that you are a part of will not appear in the search results.</li>
          </ul>
        </div>
      </div>
      <div class="col-sm-8">
        {{#if notSearchedYet }}
        <div id="empty" class="empty-search">
          <p>Make a Search!</p>
        </div>
        {{/if}}

        <div id="noResults" class="empty-search">
        </div>

        <div id="search-results">
        </div>

        <div id="error" class="error"></div>
      </div>
    </div>



  </div>
</main>
<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
<script src="../public/js/search-page.js"></script>
<<<<<<< Updated upstream
<script src='../public/js/group-details.js'></script>
=======
git<script src='../public/js/group-details.js'></script>
>>>>>>> Stashed changes
