<p>{{error}}</p>
<form method="POST" action="/register" id="registration-form">

    <label for="usernameInput">Enter email-Id</label><br>
    <input type="text" id="usernameInput" name="usernameInput"><br><br>
    <label for="usernameInput">Enter password</label><br>
    <input type="password" id="passwordInput" name="passwordInput"><br><br>

    <label for="firstNameInput">Enter First Name</label><br>
    <input type="text" id="firstNameInput" name="firstNameInput"><br><br>
    <label for="lastNameInput">Enter Last Name</label><br>
    <input type="text" id="lastNameInput" name="lastNameInput"><br><br>

    <label for="genderInput">Enter gender</label><br>
    <input type="text" id="genderInput" name="genderInput"><br><br>
    <label for="userDescriptionInput">Enter userDescription</label><br>
    <input type="text" id="userDescriptionInput" name="userDescriptionInput"><br><br>

    <label for="profileImgUrlInput">Enter profileImgUrl</label><br>
    <input type="text" id="profileImgUrlInput" name="profileImgUrlInput"><br><br>
    <label for="cityInput">Enter city</label><br>
    <input type="text" id="cityInput" name="cityInput"><br><br>

    <label for="stateInput">Enter state</label><br>
    <input type="text" id="stateInput" name="stateInput"><br><br>
    <label for="streetAddressInput">Enter streetAddress</label><br>
    <input type="text" id="streetAddressInput" name="streetAddressInput"><br><br>

    <label for="phoneNumberInput">Enter phoneNumber</label><br>
    <input type="text" id="phoneNumberInput" name="phoneNumberInput"><br><br>
    
    <button type="submit">submit</button>

</form>
<a href="/login">Already have an account? Click here to log-in</a>